name: Test

on:
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * 2"

permissions: {}

jobs:

  test:

    name: "Test config script"
    runs-on: ubuntu-24.04
    timeout-minutes: 45

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Run `first_config_script.sh`
        run: |
          sed -i '2 a NODE_LABEL="8cpu-32ram"' first_config_script.sh
          sed -i '2 a GITHUB_TAG="v0.0.21"' first_config_script.sh
          sudo -E bash first_config_script.sh
