name: Test

on:
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * 2"
  push:
    tags:
      - '*'

permissions: {}

jobs:

  test:

    name: "Test config script"
    runs-on: ubuntu-24.04
    timeout-minutes: 45

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0
          fetch-tags: true

      - run: git tag -l --sort=creatordate | tail -n1

      - name: Run `first_config_script.sh`
        run: |
          sed -i '2 a NODE_LABEL="8cpu-32ram"' first_config_script.sh
          LATEST_TAG=$(git tag -l --sort=creatordate | tail -n1)
          echo "LATEST_TAG=$LATEST_TAG"
          sed -i '2 a GITHUB_TAG="$LATEST_TAG"' first_config_script.sh
          sed -i '/^reboot$/d' ./first_config_script.sh
          sudo -E bash first_config_script.sh
